@model AllEmailsViewModel


<ul class="nav nav-tabs">
    @if (Model.ActiveTab == Constants.TabAll)
    {
        <li class="nav-item">
            <a class="nav-link active" asp-controller="Email" asp-action="Index">All Emails</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Email" asp-action="Index">All Emails</a>
        </li>
    }

    @if (Model.ActiveTab == Constants.TabNew)
    {
        <li class="nav-item">
            <a class="nav-link active" asp-controller="Email" asp-action="GetNewEmails">New Emails</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Email" asp-action="GetNewEmails">New Emails</a>
        </li>
    }

    @if (Model.ActiveTab == Constants.TabOpen)
    {
        <li class="nav-item">
            <a class="nav-link active" asp-controller="Email" asp-action="GetOpenEmails">Open Emails</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Email" asp-action="GetOpenEmails">Open Emails</a>
        </li>
    }

    @if (Model.ActiveTab == Constants.TabClosed)
    {
        <li class="nav-item">
            <a class="nav-link active" asp-controller="Email" asp-action="GetClosedEmails">Closed Emails</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Email" asp-action="GetClosedEmails">Closed Emails</a>
        </li>
    }
</ul>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col" style="width: 185px;">ID</th>

            @if (Model.ActiveTab == Constants.TabAll)
            {
                <th scope="col" style="width: 105px;">
                    <div class="row">
                        Received
                        <a class="fas fa-sort ml-2 mt-1" style="color:white; font-size:15px;" style="color:white; font-size:15px;" asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]"></a>
                    </div>
                </th>
            }
            else if (Model.ActiveTab == Constants.TabNew)
            {
                <th scope="col" style="width: 105px;">
                    <div class="row">
                        Received
                        <a class="fas fa-sort ml-2 mt-1" style="color:white; font-size:15px;" asp-action="GetNewEmails" asp-route-sortOrder="@ViewData["DateSortParm"]"></a>
                    </div>
                </th>
            }
            else if (Model.ActiveTab == Constants.TabOpen)
            {
                <th scope="col" style="width: 105px;">
                    <div class="row">
                        Received
                        <a class="fas fa-sort ml-2 mt-1" style="color:white; font-size:15px;" asp-action="GetOpenEmails" asp-route-sortOrder="@ViewData["DateSortParm"]"></a>
                    </div>
                </th>
            }
            else if (Model.ActiveTab == Constants.TabClosed)
            {
                <th scope="col" style="width: 105px;">
                    <div class="row">
                        Received
                        <a class="fas fa-sort ml-2 mt-1" style="color:white; font-size:15px;" asp-action="GetClosedEmails" asp-route-sortOrder="@ViewData["DateSortParm"]"></a>
                    </div>
                </th>
            }

            <th scope="col" style="width: 260px;">Email</th>
            <th scope="col" style="width: 200px;">Name</th>
            <th scope="col" style="width: 385px;">Subject</th>

            @if (Model.ActiveTab == Constants.TabAll)
            {
                <th scope="col" style="width: 100px;">Status</th>
                <th scope="col" style="width: 120px;"></th>

            }

            @if (Model.ActiveTab == Constants.TabNew)
            {
                <th scope="col" style="width: 100px;">
                    <div class="row">
                        New since
                        <a class="fas fa-sort ml-2 mt-1" style="color:white; font-size:15px;" asp-action="GetNewEmails" asp-route-sortOrder="@ViewData["SinceStatus"]"></a>
                    </div>
                </th>

                <th scope="col" style="width: 200px;"></th>
            }

            @if (Model.ActiveTab == Constants.TabOpen)
            {
                <th scope="col" style="width: 100px;">
                    <div class="row">
                        Open since
                        <a class="fas fa-sort ml-2 mt-1" style="color:white; font-size:15px;" asp-action="GetOpenEmails" asp-route-sortOrder="@ViewData["SinceStatus"]"></a>
                    </div>
                </th>

                @if (User.IsInRole(Constants.Manager))
                {
                    <th scope="col">Open by</th>
                }

                <th scope="col" style="width: 200px;"></th>
            }

            @if (Model.ActiveTab == Constants.TabClosed)
            {
                <th scope="col">Status</th>

                @if (User.IsInRole(Constants.Manager))
                {
                    <th scope="col">Closed by</th>
                }
                <th scope="col" style="width: 200px;"></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var email in Model.AllEmails)
        {
            if (Model.ActiveTab == Constants.TabAll)
            {
                <partial name="_AllEmailPartial" model="email" />
            }
            else if (Model.ActiveTab == Constants.TabNew)
            {
                <partial name="_NewEmailPartial" model="email" />
            }
            else if (Model.ActiveTab == Constants.TabOpen)
            {
                <partial name="_OpenEmailPartial" model="email" />
            }
            else if (Model.ActiveTab == Constants.TabClosed)
            {
                <partial name="_ClosedEmailPartial" model="email" />
            }
        }

    </tbody>
</table>





