@model GenericEmailViewModel
@using EMS.Data.Enums
@{
    ViewData["Title"] = "_AllEmailPartial";
}


@if (Model.Status == EmailStatus.Invalid.ToString())
{
    <tr class="alert-dark">
        <td>@Model.Id</td>
        <td>@Model.DateReceived</td>
        <td>@Model.SenderEmail</td>
        <td>@Model.SenderName</td>
        <td>@Model.Subject</td>
        <td>@Model.Status</td>
        <td>@Model.HasAttachments</td>
        <td><a class="btn btn-info">Preview</a></td>
        <td>
            @if (User.IsInRole("manager"))
            {
                <a class="text-info ml-1" asp-controller="Email" asp-action="RestoreInvalid" asp-route-id="@Model.Id"><i class="fa fa-check-square" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Change Status to Not Reviewed"></i></a>
            }

        </td>
    </tr>
}
else
{
    <tr>
        <td>@Model.Id</td>
        <td>@Model.DateReceived</td>
        <td>@Model.SenderEmail</td>
        <td>@Model.SenderName</td>
        <td>@Model.Subject</td>
        <td>@Model.Status</td>
        <td>@Model.HasAttachments</td>
        <td><a class="btn btn-info">Preview</a></td>
        <td>
            @if (Model.Status == EmailStatus.NotReviewed.ToString())
            {
                <a class="text-danger ml-1" asp-controller="Email" asp-action="MakeInvalid" asp-route-id="@Model.Id">
                    <i class="fa fa-trash fa-lg icon-action" data-toggle="tooltip" data-placement="bottom" title="Mark as Invalid"></i>
                </a>
            }
        </td>
    </tr>
}

@*onclick="location.href = '@(Url.Action("ShowFullEmail", "Email"))'"*@