@model GenericEmailViewModel
<form>
    <div class="form-group">
        <label for="exampleFormControlInput1">Email address</label>
        <input type="email" asp-for="@Model.SenderEmail" class="form-control" id="senderEmail" placeholder="name@example.com">
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">Sender Name</label>
        <input type="email" asp-for="@Model.SenderName" class="form-control" id="senderEmail" placeholder="name@example.com">
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">Sender Name</label>
        <input type="email" asp-for="@Model.DateReceived" class="form-control" id="senderEmail" placeholder="name@example.com">
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">Subject</label>
        <input type="email" asp-for="@Model.Subject" class="form-control" id="senderEmail">
    </div>

    <div class="form-group">
        <label for="exampleFormControlTextarea1">Email Body</label>
        <textarea class="form-control" asp-for="@Model.EmailBody" id="exampleFormControlTextarea1" rows="5"></textarea>
    </div>
</form>

