@model GenericEmailViewModel
@{
    ViewData["Title"] = "_ClosedEmailPartial";
}

<tr>
    <td>@Model.Id</td>
    <td>@Model.DateReceived</td>
    <td>@Model.SenderEmail</td>
    <td>@Model.SenderName</td>
    <td>@Model.Subject</td>
    <td>@Model.Status</td>
</tr>