@model PreviewViewModel

    <form>
        <div class="form-group">
            <label for="exampleFormControlInput1"><b>Sender Name:</b></label>
            <p>@Model.SenderName</p>
        </div>

        <div class="form-group">
            <label for="exampleFormControlInput1"><b>Sender Email:</b></label>
            <p>@Model.SenderEmail</p>
        </div>

        <div class="form-group">
            <label for="exampleFormControlInput1"><b>Subject:</b></label>
            <p>@Model.Subject</p>
        </div>

        <div>
            @if (Model.Attachments.Count == 0)
            {
                <p><b>No attachments</b></p>
            }
            else
            {
                <label><b>Attachments:</b></label>
                foreach (var att in Model.Attachments)
                {
                    <p>@att.Name - @att.Size MB</p>
                }
            }

        </div>

        <div class="form-group">
            <label for="exampleFormControlInput1"><b>Email Body:</b></label>
            <p>@Model.EmailBody</p>
        </div>

        @*<div class="form-group">
            <label for="exampleFormControlTextarea1">Email Body</label>
            <textarea class="form-control" asp-for="@Model.EmailBody" id="exampleFormControlTextarea1" rows="5"></textarea>
        </div>*@
    </form>

