<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
@*<body style="background-image: url('../images/background_3.jpg');">*@
<body style="background-image: linear-gradient(to bottom, #f8f9fa, #495057);">
    @if (User.Identity.IsAuthenticated)
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="background-image: linear-gradient(to right, #cd5708 , #f8f9fa);">
                <div class="container">
                    <style>
                        .container {
                            max-width: 1540px;
                        }
                    </style>
                    <a class="navbar-brand">SouthWest Email Management System</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul class="navbar-nav flex-grow-1">
                            @if (User.Identity.IsAuthenticated)
                            {
                                @if (User.FindFirst("IsPasswordChanged").Value == "True")
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Email" asp-action="Index">Emails</a>
                                    </li>

                                    if (User.IsInRole("manager"))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Register">Create account</a>
                                        </li>
                                    }
                                }
                            }

                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div class="container">
            <partial name="_CookieConsentPartial" />
            <main role="main" class="pb-3">
                @if (TempData["message"] != null)
                {
                    <div class="alert alert-success">@TempData["message"]</div>
                }
                @if (TempData["globalError"] != null)
                {
                    <div class="alert alert-danger">@TempData["globalError"]</div>
                }
                @RenderBody()
            </main>
        </div>
    }
    else
    {
        @RenderBody()
    }


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
    <partial name="_ValidationScriptsPartial" />

</body>
</html>
