@model GenericEmailViewModel

<tr>
    <td>@Model.Id</td>
    <td>@Model.DateReceived</td>
    <td>@Model.SenderEmail</td>
    <td>@Model.SenderName</td>
    <td>@Model.Subject</td>

    <td>@Model.TimeSinceCurrentStatus</td>

    <td>
        <a class="btn btn-info" asp-controller="Email" asp-action="Preview" asp-route-id="@Model.Id">View Mail</a>

        <a class="btn btn-info" asp-controller="App" asp-action="Preview" asp-route-id="@Model.Id">View Application</a>
    </td>    
</tr>

